/* Register page styles */

body {
    background: url("../../images/homepage-banner.jpg") no-repeat fixed center;
    background-size: cover;
}

#eco-logo {
    width: 200px;
    height: auto;
    margin: auto;
    display: block;
}

.header p {
    text-align: center;
}

.btn {
    font-size: 20px;
    width: 100%;
}
